<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".PiedoneApp"
        android:label="Piedone"
        android:supportsRtl="true">

        <activity
            android:name=".PickerActivity"
            android:theme="@style/Theme.Piedone"
            android:exported="true"
            android:label="@string/title_activity_picker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="The Nug">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UrlShareTargetActivity"
            android:theme="@style/Theme.Piedone"
            android:exported="true"
            android:label="@string/title_activity_url_share_target">
            <intent-filter android:label="DINGUS">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>
